html, body {
    height: 100%;
    width: 100%;
    background: hsl(0, 0%, 95%)
  }
  
  #maindiv {
    width: 70%;
    margin: auto;
    color: white;
    display: flex; 
    height: 80%;
    box-sizing: border-box;
    font-family: "Lexend-Deca", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 120px;
  }
  
  #sedans {
    background: hsl(31, 77%, 52%);
    box-sizing: border-box;
    padding: 56px;
  }
  
  #suv {
    background: hsl(184, 100%, 22%);
    box-sizing: border-box;
    padding: 56px;
  }
  
  #luxury {
    background: hsl(179, 100%, 13%);
    box-sizing: border-box;
    padding: 56px;
  }
  
  a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 23px;
    border-radius: 47px;
    font-size: 18px;
    font-weight: 700;
  }
  
  a:hover {
    background: white;
    color: hsl(31, 77%, 52%);
  }
  
   #move_to_grid {
    background: hsl(179, 100%, 13%);
    font-size: 16px;
    padding: 12px;
    margin-top: 11px;
  }