/*, *::after, *::before {
  padding: 0% ;
  margin: 0% ;
  box-sizing: border-box ;
  
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html, body {
  height: 100%;
  width: 100%;
  background-image: url(/img/in-office-working-on-laptop.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: Jost,Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.44;
  letter-spacing: 0;
  font-weight: 400;
}

input {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
}

#colorselect {
  width: 10%;
  height: 10%;
}

fieldset {
  position: absolute;
  width: 50%;
  left: 20px;
}

.section2 {
  width: 80%;
  margin-left: 30px;
}

.heading {
  font-size: 44px;
  font-family: cursive;
  color: navy;
}

label {
  font-size: 13px;
  color: navy;
}

.sec1 {
  text-align:center;
}

img {
  max-width: 100%;
  margin: auto;
  padding: 40px;
}

#success {
  font-size: 40px;
  color: white;
  background: navy;
  position: absolute;
  left: 25%;
  font-family: cursive;
  border-radius: 46px;
  padding: 22px;
}

button {
  width: 19%;
  padding: 18px;
  font-size: 35px;
  font-family: fangsong;
  color: navy;
  border-radius: 46px;
  border: 1px solid navy;
}

button:hover {
  background: navy;
  color: white;
}

#colorselect {
    width: 100%;
    height: 53px;
}

.Gender_date {
   width: 100%;
} 

.column {
  display: flex;
  width: 100%;
}
.in_column {
  width: 36%;
}

#select123 {
  margin: 13px;
}

#foot {
  position: absolute;
  left: 2%;
  font-family: cursive;
  border-radius: 46px;
  padding: 22px;
}

a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: cursive;
  border-radius: 46px;
  padding: 22px;
  background: navy;
  font-size: 25px;
}

a:hover {
  background: whitesmoke;
  color: navy;
}

input:hover {
  background: lightblue;
}

input:focus {
    background: whitesmoke;
}